:root {
  --theme-c1: #FF2E63;
  --theme-c2: #08D9D6;
  --theme-c3: #2F303A;
  --theme-c4: #202027;
  --theme-text: white;
  --theme-font: 'Poppins', sans-serif;
}


.btn-theme{
  background-color: var(--theme-c1) !important; 
  color:var(--theme-c4)!important;
  
}

.btn-theme2{
  background-color: var(--theme-c2) !important; 
  color:var(--theme-c4)!important;
  
}

.modal-theme .modal-content{
  background-color: var(--theme-c4)
}

.content{
  background-color: var(--theme-c3)
}

.pink-text{
  color: var(--theme-c1)
}

.date-time-picker{
  background-color: var(--theme-text);
  color: var(--theme-c4);
  padding-left: 0px !important;
  padding-right: 0px !important;
}

h1{
  color: var(--theme-c2);
  font-family: var(--theme-font);
}

h5{
  color: var(--theme-c1)
}

h2, h3,  h6, p, label{
  color: var(--theme-text)
}

h6{
  color: var(--theme-c4)
}

h4{
  color: var(--theme-c2)
}


html, body{
  background-color: var(--theme-c3)
}
